* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card-Main-Container {
    width: 40%;
    height: 90%;
    border-radius: 10px;
    background-color: rgb(183, 180, 180);
    padding: 1rem;
}

.card {
    border-radius: 1rem;
    width: 15%;
    height: 12%;
    position: relative;
    background-color: rgb(17, 16, 16);
    overflow: hidden;
    z-index: 2;
}

.ct {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flip {
    position: absolute;
    z-index: 1;
    width: 100%;
    border-radius: 1rem;
    background-color: blue;
    height: 100%;
    border: 4px solid black;
transition: all 0.2s ease ;
}
.cb:active{
transform: rotatey(90deg);
}